#=================================================
# Ignore intermediate configuration/make files
#=================================================
./**/*.in
**/Makefile
**/*make
**/CMakeFiles
**/CMakeCache*

#=================================================
# Ignore compiled files
#=================================================
**/*.o
**/*.out
**/*.lib

