#=================================================
# Ignore intermediate configuration/make files
#=================================================
./**/*.in
**/Makefile
**/*make

#=================================================
# Ignore compiled files
#=================================================
**/*.o
**/*.out
**/*.lib

